.mydiv{
    
    
    height: 500px;
    width: 100%;
    margin: auto;
    padding: 30px;

    padding-top: 100px;

    text-align: center;
}



.center{
    justify-content: center;
}


.vertical-align {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}


.mystylepadding{
    padding: 10px;
    width: 500px;
    align-items: center;
    text-align: center;
    margin: auto;
}


.button{
    display: flex;
    height: 40px;
    width: 90px;
    text-align: center;
    align-items: center;
    margin: auto;
}



.homepageLayout{
    
    height: 100%;
    width: 30%;
    margin: auto;
    padding: 10px;


}